{% extends "base.html" %}
{% block title %}
    Самоед
{% endblock %}

{% block body %}

<div class="text-center bg-body-tertiary rounded-3">
    <img src="{% static 'images/happy1.jpg' %}" class="bi mt-4 mb-3" width="500" height="500">
    <h1 class="text-body-emphasis">Белая пушистая счастливая попа</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Если пушистая попа счастлива, то счастливы все
    </p>
    <div class="d-inline-flex gap-2 mb-5">
        <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" href="https://github.com/krsvictoria/practice_sa_tl_python" target="_blank">Перейти к ДЗ на GitHub</a>
    </div>
  </div>


<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-3">
      <h2>Самоед не даст сидеть без дела</h2>
      <p>Эта пушистая попа имеет огромный запас энергии. С ней не получится лежать на диване целый день. Она не допустит такого </p>
      <img src="{% static 'images/happy2.jpg' %}" class="foto-text" width="100%">
    </div>

    <div class="col-lg-3">
      <h2>Самоед не даст грустить</h2>
      <p>От одного взгляда на это чудо можно забыть о всех проблемах</p>
      <img src="{% static 'images/happy3.jpg' %}" class="foto-text" width="100%">
    </div>

    <div class="col-lg-3">
      <h2>Самоед прекрасно играет в прятки</h2>
      <p>Лучше надеть комбинезон на прогулку зимой. Иначе его не найти</p>      
      <img src="{% static 'images/happy4.jpg' %}" class="foto-text" width="100%">
   </div>

    <div class="col-lg-3">
      <h2>Шерсть будет везде</h2>
      <p>Отныне шерсть это приправа ко всем блюдам</p>
      <img src="{% static 'images/happy5.jpeg' %}" class="foto-text" width="100%">
   </div>


  </div>
</div>
{% endblock %}